### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
**/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode

*.bz2
*.csv
*.txt
**.bz2
**.csv
**.txt
